/*CSS will be used for overriding Bootstrap, FontAwesome etc
Bootstrap is at 5.3.2 // FA at 6.5.1 // see docs for reference */

body {
    padding-top:  50px; /* height of the navbar */
    font-family: 'Poppins', system-ui, sans-serif; 
  }

.navbar {
    border-bottom: 3px solid grey; /*experimental */
    /*--bs-navbar-padding-y: 0;*/
}

.nav-link:hover {
    border: 1px solid black;
    border-radius: 10px;

}

.display-5, .lead {
    color: white;
    text-shadow:  2px  2px  4px rgba(0,  0,  0,  0.5),  0  0  2px rgba(0,  0,  0,  0.5);
      } 

.form-control, .form-select {
    font-size: 1.1rem;
}

.form-control::placeholder {
     color: black;
}

.form-control, .form-control-lg {
     margin-bottom: 5px;
}