@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;500;700;900&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto Slab", sans-serif !important;
  background-size: cover;
}

.method {
  font-weight: 700;
}

@media (max-width= 767px) {
    
}

.card-background {
  background: linear-gradient(
    135deg,
    rgba(133, 133, 134, 0.1),
    rgba(133, 133, 133, 0)
  ) ;
  backdrop-filter: blur(100px) ;
  -webkit-backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(248, 248, 255, 0.18) ;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37) !;
}

.placeholderImage img {
    
}
